html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f8f9f5;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.profile-list-item {
  background-color: white;
  margin: 0 16px 8px;
  padding: 16px 24px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 1px 1px 5px 0 rgb(0 0 0 / 22%);
  transition: transform ease 200ms;
}

.profile-list-item:hover {
  transform: scale(1.02);
}

.profiles-wrapper {
  margin-top: 32px;
}

.logo-wrapper {
  display: flex;
  margin-top: 16px;
  justify-content: center;
}

.edit-profile-title {
  margin-top: 48px;
  font-size: 24px;
  text-align: center;
}

.edit-profile-wrapper {
  width: 360px;
  box-shadow: 1px 1px 20px 0 rgb(0 0 0 / 22%);
  margin: 32px auto 8px;
  background-color: white;
  padding: 16px 24px;
  border-radius: 20px;
}

.input {
  margin-bottom: 8px;
}

.input label {
  display: block;
  color: gray;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
}

.input input {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border-color: rgb(0 0 0 / 22%);
  border-width: 1px;
  border-style: solid;
}

.input input:focus {
  outline: #2fd67a;
}

.input .error {
  font-size: 10px;
  color: #eb4c6a;
}

.button {
  width: 100% ;
  margin-top: 20px;
  padding: 8px 16px;
  border-radius: 24px;
  background-color: #2fd67a;
  font-size: 16px;
  border: none;
  cursor: pointer;
  color: white;
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  left: 50%;
  margin-left: -25px;
  width: 50px;
}

.path {
  stroke: #3b81f6;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}